# Introduction

This notebook shows more examples of using our project's database (caption group).

We have using AMS relational database service(RDS) to create our database, which solves the problem caused by the laptop's physical movement and provides us a fixed IP address.

## Connect to the database

Note: Before running, please open terminal and install the *mysql-connector* package: ***pip3 install mysql-connector***

In [35]:
import mysql.connector
from mysql.connector import Error
import re
import pandas as pd
pd.set_option('display.max_colwidth', None)

try:
    connection = mysql.connector.connect(host='dbnewyorkcartoon.cgyqzvdc98df.us-east-2.rds.amazonaws.com',
                                         user='dbuser',
                                         password='Sql123456')
    if connection.is_connected():
        db_Info = connection.get_server_info()
        print("Connected to MySQL Server version", db_Info)
        cursor = connection.cursor()   # a neccessary statement for SQL operations while connecting by third tools
except Error as e:
    print("Error while connecting to MySQL", e)

Connected to MySQL Server version 8.0.33

## Some common operational statements

### show databases(schemas)

In [14]:
op = "show databases;"
cursor.execute(op)
record = cursor.fetchall()   # fetch all results
for i in range(0, len(record)):
    print(record[i][0].decode("utf-8"))   # convert bytes to string

information_schema
new_york_cartoon
performance_schema

### **select the database you want to operate (!!! necessary to run for any following chunk)**

In [36]:
op = "use new_york_cartoon;"
cursor.execute(op)   # select the 'new_york_cartoon' database

### show the current database

In [17]:
op = "select database();"
cursor.execute(op)
record = cursor.fetchall()
print("The current database: ", record[0][0])

The current database:  new_york_cartoon

### show tables of the current database

In [18]:
op = "show tables;"
cursor.execute(op)
tables = cursor.fetchall()
for i in range(0, len(tables)):
    print(tables[i][0].decode("utf-8"))

base
explanation
explanation_from_pixels
matching
matching_from_pixels
ranking
ranking_from_pixels
result

### show attributes of one table

In [19]:
op = "select * from result where result_id=1;"
cursor.execute(op)
record = cursor.fetchall()
desc = cursor.description
for i in range(0, len(desc)):
    print(desc[i][0])

result_id
caption
ranking
mean
prec
votes
not_funny
somewhat_funny
funny
contest_num

### show the comment of one attribute

In [20]:
op = "select column_name,column_comment\
         from information_schema.columns\
         where table_schema = 'new_york_cartoon' and table_name = 'result';"
cursor.execute(op)
record = cursor.fetchall()
for i in range(0, len(record)):
    print(record[i][0] + ": " + record[i][1].decode('utf-8'))
    
# If there is a attribute without comment, it will show nothing. And typically, the attribute name is its meaning.

result_id: result id
caption:
ranking: the ranking of a caption
mean: the score of a caption
prec: precision - the standard error of the mean
votes: total votes
not_funny: unfunny votes
somewhat_funny: somewhat funny votes
funny: funny votes
contest_num: contest number

### some examples of data query languages(DQL)

**1. select [column names] from [table names] where [conditions: (>, <, =, >=, <=, <>, !=)]**

In [23]:
# gain 'caption' and 'ranking' data of contest whose numbers is 550
query = "select caption,ranking from result where contest_num=550;"
cursor.execute(query)
record = cursor.fetchall()
attr_names = [i[0] for i in cursor.description]
print("Total number of rows in table: ", cursor.rowcount)
df = pd.DataFrame(record, columns=attr_names)
df

Total number of rows in table:  5554

,caption,ranking
0,"When I asked you to line up a meeting with the Department Chairs, this is not what I meant.",0
1,Are you willing to relocate?,1
2,Where do you see yourself five chairs from now?,2
3,"Actually, we were looking for someone a bit more aggressive.",3
4,"At one point I had them in a semicircle, but it gave people a sense of equality.",4
...,...,...
5549,Only 4 more years until you get to move one chair closer to the boss. And they said upward mobility was stagnant (scoffs).,5549
5550,Dave arrives early to visualize whisper down the lane board meeting.,5550
5551,"Keep your""hands and mouth ""off",5551
5552,Who ever said serfdom was blue collar?,5552
5553,"I know it's Day of the Dead, but aren't humans more important than ghosts?",5553

**2. select [column names] from [table names] where [conditions: (in(...), between...and...)]** \
&nbsp;&nbsp;&nbsp;&nbsp;The 'in(...)' and 'between...and...' commands allows you to specify multiple values in a WHERE clause.

In [37]:
# gain 'caption' and 'ranking' data of contests whose numbers are 550, 551 and 552
query_1 = "select caption,ranking from result where contest_num in (550, 551, 552);"
query_2 = "select caption,ranking from result where contest_num between 550 and 552;"   # equal to query_1
cursor.execute(query_1)
record = cursor.fetchall()
attr_names = [i[0] for i in cursor.description]
print("Total number of rows in table: ", cursor.rowcount)
df = pd.DataFrame(record, columns=attr_names)
df

Total number of rows in table:  15834

,caption,ranking
0,"When I asked you to line up a meeting with the Department Chairs, this is not what I meant.",0
1,Are you willing to relocate?,1
2,Where do you see yourself five chairs from now?,2
3,"Actually, we were looking for someone a bit more aggressive.",3
4,"At one point I had them in a semicircle, but it gave people a sense of equality.",4
...,...,...
15829,"Say, you look familiar. How long have you had vehicle?",5432
15830,let me chuch your bengis,5433
15831,No news is good news.,5434
15832,begone....... thot,5435
15833,I didn't know SHE was coming?,5436

**3. select [column names] from [table names] where [conditions: like]** \
&nbsp;&nbsp;&nbsp;&nbsp;The LIKE command is used in a WHERE clause to search for a specified pattern in a column.
- '%' represents zero, one, or multiple characters
- '_' represents a single character

In [38]:
# gain 'caption' and 'ranking' data of the contest whose number is like '55_'.
query = "select caption,ranking from result where contest_num like '55_';"
cursor.execute(query)
record = cursor.fetchall()
attr_names = [i[0] for i in cursor.description]
print("Total number of rows in table: ", cursor.rowcount)
df = pd.DataFrame(record, columns=attr_names)
df

Total number of rows in table:  57189

,caption,ranking
0,"When I asked you to line up a meeting with the Department Chairs, this is not what I meant.",0
1,Are you willing to relocate?,1
2,Where do you see yourself five chairs from now?,2
3,"Actually, we were looking for someone a bit more aggressive.",3
4,"At one point I had them in a semicircle, but it gave people a sense of equality.",4
...,...,...
57184,History will now record that only rarely did we make prisoners walk the plank.,5007
57185,"Shiver me timbers, it must be Jesus!",5008
57186,O Captain! Don't Die Captain!,5009
57187,I will order a swan dive. I will not order my men to snort cocaine offa Frank's frank.,5010
57188,Avast showboating!,5011

## Close the connection

In [40]:
if connection.is_connected():
    cursor.close()
    connection.close()
    print("MySQL connection is closed.")
else:
    print("MySQL connection has been closed.")

MySQL connection has been closed.

...